/* Page styles */

body {
  flex-direction: column;
  font-family: 'Oswald', helvetica, arial, sans;
}

p {
  line-height: 1.5;
}

/* Fixed Nav */

.nav{
  position: fixed;
  width: 100vw;
  background: white;
  z-index: 20;
  display: none;
  height: 60px;
}
.nav img{
  height: 100%;
}

.nav .header-nav {
  width: 400px;
  color: black;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translate(-50%, 0)
  /* margin-top: 20px; */
}
.nav .header-nav > li ~ li {
  border-left: 2px solid #000000;
  padding-left: 0.8em;
}
.nav .header-nav a{
  color: black;
}

/* Landing Page */

.landing-hero {
  background-color: black;
  background-image: url(/images/background.jpg);
  background-size: cover;
  background-position: center center;
  overflow: hidden;   
  
}

.hero-box {
  height: 100vh;
  min-height: 660px;
  color: #fff7f1;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.hero-box:after {
  bottom: 15px;
  color: #fff7f1;
  content: "﹀";
  font-size: 45px;
  left: 50%;
  position: absolute;
  transform: translate(-50%, 0);
}

.simple-nav {
  margin-top: 20px;
  margin-left: -10px;
  text-align: center;
}
.logo-box {
  width: 500px;
  margin: 12vh auto 0;
}
.logo-box img {
  width: 100%;
}

.social-links {
  width: 300px;
  bottom: 140px;
  left: 50%;
  position: absolute;
  transform: translate(-50%, 0);
}

/* Contacts page */

.contacts-page {
  margin-top: -60px;
  padding-top: 60px;
  min-height: 75vh;
  display: flex;
  justify-content: center;
  background-color: rgb(0, 139, 139);
  background-clip: content-box;
  
}
.contacts-page a {
  color: rgb(46, 46, 46);
}

.contacts-continer {
  width: 50vw;
  /* height: 75vh; */
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: flex-end;
}

.contacts-block {
  padding: 5px;
  width: 350px;
  margin: 20px;
  margin-right: 4vw;
}
.contacts-block h2 {
  display: inline-block;
  width: 80%;
  font-size: 1.3em;
  padding: 4px 5px 10px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  margin-bottom: 15px;
}

.contacts-block p {
  font-weight: 300;
  font-size: 1.1em;
}

.map-container {
  width: 50vw;
  min-height: 300px;
}

.separator-contacts {
  height: 45vh;
  background-color: black;
  background-image: url(/images/people_bar.jpg);
  background-size: cover;
  background-position: center center;
}

/* About page */

.about-page {
  height: 100vh;
  background-color: darkgreen;
}

/* Social icons style */

.social-links li{
  width: 40px;
  height: 40px;
  text-align: center;
  list-style: none;
  margin: 0 15px;
  display: inline-block;
  font-size: 1em;
}
.social-links li:hover{
  font-size: 1.2em;
}

.social-links i{
  color: #fff7f1;
}

/* Menu style */

.header-nav > li {
  list-style: none;
  display: inline-block;
  margin-left: 0.8em;
}

.header-nav > li ~ li {
  border-left: 2px solid #fff7f1;
  padding-left: 0.8em;
}
.header-nav a {
  color: #fff7f1;
}

.nav-links a {
  font-size: 1rem;
  text-decoration: none;
  text-transform: uppercase;
}

/* Mobile Styles */

@media (max-width: 800px) {
  .nav img{
   display: none;
  }
  /* Landing Styles */
  .landing-hero {
    background-image: url(/images/background_mobile.jpg);
  }

 .logo-box {
    width: 300px;
    margin-top: 100px;
  }

  .social-links {
    bottom: 200px;
  }
  .hero-box:after {
    bottom: 55px;
  }
  
  /* Contacts page */

.contacts-page {
  flex-direction: column;
  }
  .map-container {
  width: 100vw;
  height: 300px;
}
}
